# Dependency directories
node_modules/

# IDE/editor directories and settings
.vscode/
.idea/

# OS-specific files
.DS_Store     # macOS
Thumbs.db     # Windows

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: lock files
package-lock.json
yarn.lock
